sphinx_rtd_theme
sphinx<9  # enum-tools 0.13.0 autoenum breaks on sphinx 9 (sphinx.ext.autodoc no longer exports logger)
breathe
sphinx-intl
nbsphinx
enum-tools[sphinx]
ipython

# tritondse for autodoc
tritondse
